# SpamCollection - dataset from Kaggle
#Data not preprocessed and is present as text format

In [2]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [4]:
#Read data with encoding
data = pd.read_csv("spam.csv", encoding = "ISO-8859-1")

In [6]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
#v1 - target variable
data.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [8]:
data.shape

(5572, 5)

In [10]:
#v2 - predictor, remove other columns
data = data.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis =1)

In [14]:
data.head()

  target                                          predictor
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
data.columns = ['target','predictor']

In [16]:
#convert predictor to word_frequency vector
count_vector = CountVectorizer(decode_error = 'ignore')
X = count_vector.fit_transform(data['predictor'])

In [22]:
Y = data.target

In [23]:
#70-30 split for train and validation
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

# NAIVE BAYES CLASSIFIER

In [24]:
#Naive Bayes classifier
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [25]:
naive_bayes_prediction = model.predict(X_test)

In [27]:
#accuracy for Naive Bayes
from sklearn.metrics import accuracy_score
accuracy_score(y_test, naive_bayes_prediction)

0.9784688995215312

In [28]:
#Confusion matrix for Naive Bayes
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, naive_bayes_prediction)

array([[1435,   18],
       [  18,  201]], dtype=int64)

# ADA BOOST ALGORITHM

In [29]:
ada_boost = AdaBoostClassifier()
ada_boost.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [30]:
ada_boost_predictions = ada_boost.predict(X_test)

In [31]:
accuracy_score(y_test, ada_boost_predictions)

0.9629186602870813

In [32]:
confusion_matrix(y_test, ada_boost_predictions)

array([[1444,    9],
       [  53,  166]], dtype=int64)