# Spambase - dataset from UCI repository
#Data already preprocessed and converted to word_frequency

In [21]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("spambase.data")

In [3]:
data.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 58 columns):
0         4600 non-null float64
0.64      4600 non-null float64
0.64.1    4600 non-null float64
0.1       4600 non-null float64
0.32      4600 non-null float64
0.2       4600 non-null float64
0.3       4600 non-null float64
0.4       4600 non-null float64
0.5       4600 non-null float64
0.6       4600 non-null float64
0.7       4600 non-null float64
0.64.2    4600 non-null float64
0.8       4600 non-null float64
0.9       4600 non-null float64
0.10      4600 non-null float64
0.32.1    4600 non-null float64
0.11      4600 non-null float64
1.29      4600 non-null float64
1.93      4600 non-null float64
0.12      4600 non-null float64
0.96      4600 non-null float64
0.13      4600 non-null float64
0.14      4600 non-null float64
0.15      4600 non-null float64
0.16      4600 non-null float64
0.17      4600 non-null float64
0.18      4600 non-null float64
0.19      4600 non-null float64
0.20      4600 non-null float64
0.21      4600 non-null float64
0.22      4600 non-null float64
0.23      4600 non-null float64
0.24      4600 non-null float64
0.25      4600 non-null float64
0.26      4600 non-null float64
0.27      4600 non-null float64
0.28      4600 non-null float64
0.29      4600 non-null float64
0.30      4600 non-null float64
0.31      4600 non-null float64
0.32.2    4600 non-null float64
0.33      4600 non-null float64
0.34      4600 non-null float64
0.35      4600 non-null float64
0.36      4600 non-null float64
0.37      4600 non-null float64
0.38      4600 non-null float64
0.39      4600 non-null float64
0.40      4600 non-null float64
0.41      4600 non-null float64
0.42      4600 non-null float64
0.778     4600 non-null float64
0.43      4600 non-null float64
0.44      4600 non-null float64
3.756     4600 non-null float64
61        4600 non-null int64
278       4600 non-null int64
1         4600 non-null int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [5]:
#Target variable - 1 - means spam, 0 - not spam
data["1"].value_counts()

0    2788
1    1812
Name: 1, dtype: int64

In [7]:
data.shape

(4600, 58)

In [19]:
#taking only the words and ignoring all the punctuations frequency for training model
X = data.iloc[:,:48]
Y = data["1"]

In [44]:
#70-30 split for train and validation
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

# NAIVE BAYES CLASSIFIER

In [45]:
#Naive Bayes classifier
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [46]:
predictions = model.predict(X_test)

In [47]:
#accuracy for Naive Bayes
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8659420289855072

In [27]:
test_prediction_df = pd.DataFrame(predictions)

In [29]:
test_prediction_df[0].value_counts()

0    698
1    682
Name: 0, dtype: int64

In [33]:
#Confusion matrix for Naive Bayes
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[658, 145],
       [ 40, 537]], dtype=int64)

# ADA BOOST ALGORITHM

In [54]:
from sklearn.ensemble import AdaBoostClassifier

In [56]:
ada_boost = AdaBoostClassifier()
ada_boost.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [57]:
ada_boost_predictions = ada_boost.predict(X_test)

In [58]:
accuracy_score(y_test, ada_boost_predictions)

0.9028985507246376

In [59]:
confusion_matrix(y_test, ada_boost_predictions)

array([[749,  54],
       [ 80, 497]], dtype=int64)